body {
    margin: 0;
}

.container {   
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.responsive-svg {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.graph {
    height: auto;
    width: 100%;
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.x-axis path {
    stroke: #afafaf;
}

.x-axis line {
    stroke: #afafaf;
}

/* The axis that makes the horizontal */
.grid line {
    stroke: #afafaf;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

.tick text {
    fill: #afafaf;
}

/* second */
#container {
    margin: 20px;
}
#chart {
    background-color: #eee;
}
#chart circle {
    fill-opacity: .8;
}

